/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */


body {
  background-color: #FFF;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  /* background-color: #a7d8b4; */
  padding: 0;
}
ul.header li a {
  color: #9b2d55;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.App {
  text-align: center;
}

.LeftPanel {
  float: left;
  padding-left: 10px;
  height: 600px;
  width: 25%;
  position: relative; 
  background: #a7d8b4; 
  /* align-content: center; */
    text-align: center;
}

.RightPanel {
  float: left;
  padding-left: 10px;
  margin-left: 50px;
  height: 600px;
  width: 25%;
  /* background: #a7d8b4; */
}

/* .searchContainer {
  width: 250px;
  position: relative
} */

/* .searchBox {
  width: 250px;
  height: 25px;
  border-top-left-radius: 4;
  border-top-right-radius: 4;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 4;
} */

.react-autosuggest__container {
  position: absolute;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.container {
  display: flex;
}